# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues
scikit-learn==1.2.1
azure-functions
azure-storage-blob
pyodbc
pandas==2.2.2
numpy==1.23.5
joblib
scipy==1.10.1 